# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/components/data/musique.jsonld
/src/components/data/ParcsJardins.jsonld
/src/components/data/restaurants.jsonld
/src/components/data/sculpture.jsonld
/src/components/data/videsGreniers.jsonld
/src/components/data/craftmanShop.jsonld
/src/components/data/enfant.jsonld
/src/components/data/exposition.jsonld
/src/components/data/localProductShop.jsonld
/src/components/data/marches.jsonld
src/components/data/enfant.json
src/components/data/ParcsJardins.json
src/components/data/craftmanShop.json
src/components/data/localProductShop.json
src/components/data/restaurants.json
src/components/data/sculpture.json
src/styles/style_Backup.json
tiles
src/styles/style - Copy.json
src/styles/style-basic-ori.json
/src/styles/osm-basic_backup.json
/src/styles/style_ben.json
/src/components/assembly.css
/src/components/mapbox-gl.css
.npmrc

.vscode/
src/styles/osm-basic_old.json
src/styles/style_old.json