
.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #14222D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 480px) {
  .mapboxgl-popup-content {
      max-width: 250px;
      position:absolute; 
      top:0;
      bottom:0;
  }
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 10px;
  /* font-family: Arial, sans-serif; */
  overflow: auto;
  border-radius: 3px;
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: fit-content;
  margin-bottom: 24px;
  width:  fit-content;
}

.legend-key {
  display: inline-block;
  /* border-radius: 20%; */
  /* width: 10px;
  height: 10px;
  margin-right: 5px; */
}

@media only screen and (max-width: 640px) {
  #legend {
    margin-bottom: 39px;
  }
}

@media only screen and (max-width: 480px) {
  #legend { display: none;}
}

