/* Set small scrollbar */
::-webkit-scrollbar {
  width: 5px
}

::-webkit-scrollbar-track {
  background: #f1f1f1
}

::-webkit-scrollbar-thumb {
  background: #14222d
}

::-webkit-scrollbar-thumb:hover {
  background: #555
}

@media only screen and (max-width:480px) {
  .mapboxgl-popup-content {
      max-width: 250px;
      position: absolute;
      top: 0;
      bottom: 0
  }
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,.8);
  margin-right: 10px;
  overflow: auto;
  border-radius: 3px
}

.dot,.legend-key {
  display: inline-block;
  vertical-align: text-bottom;  
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 5px
}

@media only screen and (max-width:640px) {
  #legend {
      margin-bottom: 39px
  }
}

@media only screen and (max-width:480px) {
  #legend {
      display: none
  }
}