[data-assembly-focus-control] :focus {
    outline: 0
}

.input--border-gray,
.textarea--border-gray {
    border-color: #666
}

.input--border-gray:focus,
.textarea--border-gray:focus {
    border-color: #2d2d2d
}

.input--border-gray-light,
.textarea--border-gray-light {
    border-color: #ccc
}

.input--border-gray-light:focus,
.textarea--border-gray-light:focus {
    border-color: #666
}

.input--border-gray-faint,
.textarea--border-gray-faint {
    border-color: #f7f7f7
}

.input--border-gray-faint:focus,
.textarea--border-gray-faint:focus {
    border-color: #ccc
}

.input--border-pink,
.textarea--border-pink {
    border-color: #ff3c96
}

.input--border-pink:focus,
.textarea--border-pink:focus {
    border-color: #ab084b
}

.input--border-pink-light,
.textarea--border-pink-light {
    border-color: #ff88c0
}

.input--border-pink-light:focus,
.textarea--border-pink-light:focus {
    border-color: #ff3c96
}

.input--border-pink-faint,
.textarea--border-pink-faint {
    border-color: #ffdbed
}

.input--border-pink-faint:focus,
.textarea--border-pink-faint:focus {
    border-color: #ff88c0
}

.input--border-red,
.textarea--border-red {
    border-color: #dc2b28
}

.input--border-red:focus,
.textarea--border-red:focus {
    border-color: #a30003
}

.input--border-red-light,
.textarea--border-red-light {
    border-color: #ff8280
}

.input--border-red-light:focus,
.textarea--border-red-light:focus {
    border-color: #dc2b28
}

.input--border-red-faint,
.textarea--border-red-faint {
    border-color: #ffdad9
}

.input--border-red-faint:focus,
.textarea--border-red-faint:focus {
    border-color: #ff8280
}

.input--border-orange,
.textarea--border-orange {
    border-color: #ff6e00
}

.input--border-orange:focus,
.textarea--border-orange:focus {
    border-color: #bc3a00
}

.input--border-orange-light,
.textarea--border-orange-light {
    border-color: #ffa950
}

.input--border-orange-light:focus,
.textarea--border-orange-light:focus {
    border-color: #ff6e00
}

.input--border-orange-faint,
.textarea--border-orange-faint {
    border-color: #ffe5cb
}

.input--border-orange-faint:focus,
.textarea--border-orange-faint:focus {
    border-color: #ffa950
}

.input--border-yellow,
.textarea--border-yellow {
    border-color: #f0dc00
}

.input--border-yellow:focus,
.textarea--border-yellow:focus {
    border-color: #d9a100
}

.input--border-yellow-light,
.textarea--border-yellow-light {
    border-color: #f0f062
}

.input--border-yellow-light:focus,
.textarea--border-yellow-light:focus {
    border-color: #f0dc00
}

.input--border-yellow-faint,
.textarea--border-yellow-faint {
    border-color: #fafbd1
}

.input--border-yellow-faint:focus,
.textarea--border-yellow-faint:focus {
    border-color: #f0f062
}

.input--border-green,
.textarea--border-green {
    border-color: #01aa46
}

.input--border-green:focus,
.textarea--border-green:focus {
    border-color: #006427
}

.input--border-green-light,
.textarea--border-green-light {
    border-color: #72c781
}

.input--border-green-light:focus,
.textarea--border-green-light:focus {
    border-color: #01aa46
}

.input--border-green-faint,
.textarea--border-green-faint {
    border-color: #d4edda
}

.input--border-green-faint:focus,
.textarea--border-green-faint:focus {
    border-color: #72c781
}

.input--border-teal,
.textarea--border-teal {
    border-color: #01b5b4
}

.input--border-teal:focus,
.textarea--border-teal:focus {
    border-color: #00535e
}

.input--border-teal-light,
.textarea--border-teal-light {
    border-color: #50d2d2
}

.input--border-teal-light:focus,
.textarea--border-teal-light:focus {
    border-color: #01b5b4
}

.input--border-teal-faint,
.textarea--border-teal-faint {
    border-color: #cbf2f1
}

.input--border-teal-faint:focus,
.textarea--border-teal-faint:focus {
    border-color: #50d2d2
}

.input--border-blue,
.textarea--border-blue {
    border-color: #448ee4
}

.input--border-blue:focus,
.textarea--border-blue:focus {
    border-color: #295b97
}

.input--border-blue-light,
.textarea--border-blue-light {
    border-color: #00b1ff
}

.input--border-blue-light:focus,
.textarea--border-blue-light:focus {
    border-color: #448ee4
}

.input--border-blue-faint,
.textarea--border-blue-faint {
    border-color: #e0ecf9
}

.input--border-blue-faint:focus,
.textarea--border-blue-faint:focus {
    border-color: #00b1ff
}

.input--border-purple,
.textarea--border-purple {
    border-color: #8c50c7
}

.input--border-purple:focus,
.textarea--border-purple:focus {
    border-color: #440067
}

.input--border-purple-light,
.textarea--border-purple-light {
    border-color: #c299e3
}

.input--border-purple-light:focus,
.textarea--border-purple-light:focus {
    border-color: #8c50c7
}

.input--border-purple-faint,
.textarea--border-purple-faint {
    border-color: #ede1f6
}

.input--border-purple-faint:focus,
.textarea--border-purple-faint:focus {
    border-color: #c299e3
}

.input--border-darken5,
.textarea--border-darken5 {
    border-color: rgba(0, 0, 0, .05)
}

.input--border-darken10,
.input--border-darken5:focus,
.textarea--border-darken10,
.textarea--border-darken5:focus {
    border-color: rgba(0, 0, 0, .1)
}

.input--border-darken10:focus,
.input--border-darken25,
.textarea--border-darken10:focus,
.textarea--border-darken25 {
    border-color: rgba(0, 0, 0, .25)
}

.input--border-darken25:focus,
.input--border-darken50,
.textarea--border-darken25:focus,
.textarea--border-darken50 {
    border-color: rgba(0, 0, 0, .5)
}

.input--border-darken50:focus,
.input--border-darken75,
.textarea--border-darken50:focus,
.textarea--border-darken75 {
    border-color: rgba(0, 0, 0, .75)
}

.input--border-darken75:focus,
.textarea--border-darken75:focus {
    border-color: #000
}

.input--border-lighten5,
.textarea--border-lighten5 {
    border-color: rgba(255, 255, 255, .05)
}

.input--border-lighten10,
.input--border-lighten5:focus,
.textarea--border-lighten10,
.textarea--border-lighten5:focus {
    border-color: rgba(255, 255, 255, .1)
}

.input--border-lighten10:focus,
.input--border-lighten25,
.textarea--border-lighten10:focus,
.textarea--border-lighten25 {
    border-color: rgba(255, 255, 255, .25)
}

.input--border-lighten25:focus,
.input--border-lighten50,
.textarea--border-lighten25:focus,
.textarea--border-lighten50 {
    border-color: rgba(255, 255, 255, .5)
}

.input--border-lighten50:focus,
.input--border-lighten75,
.textarea--border-lighten50:focus,
.textarea--border-lighten75 {
    border-color: rgba(255, 255, 255, .75)
}

.input--border-lighten75:focus,
.input--border-white,
.textarea--border-lighten75:focus,
.textarea--border-white {
    border-color: #fff
}

.input--border-white:focus,
.textarea--border-white:focus {
    border-color: rgba(255, 255, 255, .75)
}

.input--border-transparent,
.textarea--border-transparent {
    border-color: transparent
    
}

.input--border-transparent:focus,
.textarea--border-transparent:focus {
    border-color: rgba(0, 0, 0, .05)
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

body,
input,
textarea {
    color: rgba(0, 0, 0, .75);
    font-size: 15px;
    line-height: 24px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased
}

ol,
ul {
    list-style: none
}

.fr {
    float: right !important
}

.flex-child {
    display: block;
    max-width: 100%
}

.flex-child--grow {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
    min-width: 0
}

.flex-child--no-shrink {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important
}


.input,
.textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color .125s, border-color .125s;
    display: block;
    width: 100%
}

.input:focus,
.textarea:focus {
    border-color: #448ee4
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
    color: rgba(128, 128, 128, .45)
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
    color: rgba(128, 128, 128, .45)
}

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
    color: rgba(128, 128, 128, .45)
}

.input::placeholder,
.textarea::placeholder {
    color: rgba(128, 128, 128, .45)
}

.textarea {
    overflow: auto
}

.input::-ms-clear,
.input::-ms-reveal {
    display: none;
    width: 0;
    height: 0
}

.input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.input[type=search]::-webkit-search-cancel-button,
.input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none
}

.input {
    height: 36px;
    line-height: 34px;
    padding: 0 12px
}

.input--s {
    height: 24px;
    line-height: 22px;
    padding: 0 6px
}

.textarea {
    resize: vertical;
    padding: 10px
}

.textarea--s {
    padding: 0 4px
}

.input:disabled,
.textarea:disabled {
    pointer-events: none;
    color: rgba(0, 0, 0, .5) !important;
    border-color: rgba(128, 128, 128, .25) !important
}

.input:disabled,
.input[readonly],
.textarea:disabled,
.textarea[readonly] {
    background-color: rgba(128, 128, 128, .1) !important
}

.fieldset,
.input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.input,
.select,
.textarea {
    font-family: inherit;
    background: 0 0;
    margin: 0;
    box-shadow: none
}

.input,
.textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color .125s, border-color .125s;
    display: block;
    width: 100%
}

.input:focus,
.textarea:focus {
    border-color: #448ee4
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
    color: rgba(128, 128, 128, .45)
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
    color: rgba(128, 128, 128, .45)
}

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
    color: rgba(128, 128, 128, .45)
}

.input::placeholder,
.textarea::placeholder {
    color: rgba(128, 128, 128, .45)
}

.textarea {
    overflow: auto
}

.input::-ms-clear,
.input::-ms-reveal {
    display: none;
    width: 0;
    height: 0
}

.input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.input[type=search]::-webkit-search-cancel-button,
.input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none
}

.input {
    height: 36px;
    line-height: 34px;
    padding: 0 12px
}

.input--s {
    height: 24px;
    line-height: 22px;
    padding: 0 6px
}

.icon {
    display: block;
    fill: currentColor;
    height: 18px;
    width: 18px
}

.textarea {
    resize: vertical;
    padding: 10px
}

.textarea--s {
    padding: 0 4px
}

.input:disabled,
.textarea:disabled {
    pointer-events: none;
    color: rgba(0, 0, 0, .5) !important;
    border-color: rgba(128, 128, 128, .25) !important
}

.input:disabled,
.input[readonly],
.textarea:disabled,
.textarea[readonly] {
    background-color: rgba(128, 128, 128, .1) !important
}

.select:disabled,
input:disabled+.checkbox,
input:disabled+.radio,
input:disabled+.switch {
    pointer-events: none;
    color: rgba(0, 0, 0, .25) !important;
    background-color: rgba(128, 128, 128, .25) !important;
    border-color: transparent !important
}

.txt-truncate {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.inline-block {
    display: inline-block !important
}

.inline {
    display: inline !important
}

.color-white {
    color: #fff !important
}

.color-black {
    color: #000 !important
}

.color-gray {
    color: #666 !important
}

.color-lighten50 {
    color: rgba(255, 255, 255, .5) !important
}

.color-darken25 {
    color: rgba(0, 0, 0, .25) !important
}

.bg-white {
    background-color: #fff !important
}

.relative {
    position: relative !important
}

.absolute {
    position: absolute !important
}

.top {
    top: 0 !important
}

.right {
    right: 0 !important
}

.left {
    left: 0 !important
}

.bottom {
    bottom: 0 !important
}

.bg-blue {
    background-color: #448ee4 !important
}

.bg-blue-faint {
    background-color: #e0ecf9 !important
}

.bg-darken10 {
    background-color: rgba(0, 0, 0, .1) !important
}

.w-full {
    width: 100% !important
}

.shadow-darken10 {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1) !important
}

.shadow-darken25 {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .25) !important
}

.bg-gray-faint-on-active.is-active,
.bg-gray-faint-on-active.is-active:hover,
.bg-gray-faint-on-hover:hover {
    background-color: #f7f7f7 !important
}

.flex-parent {
    display: -ms-flexbox !important;
    display: flex !important
}

.flex-parent--column {
    -ms-flex-direction: column !important;
    flex-direction: column !important
}

.flex-parent--row {
    -ms-flex-direction: row !important;
    flex-direction: row !important
}

.flex-parent--center-cross {
    -ms-flex-align: center !important;
    align-items: center !important
}

.px24 {
    padding-left: 24px !important;
    padding-right: 24px !important
}

.px48 {
    padding-left: 48px !important;
    /* padding-right: 48px !important */
}

.h36 {
    height: 36px !important
}

.h42 {
    height: 42px !important
}

.h-full {
    height: 100% !important
}

.w240 {
    width: 240px !important
}

.w42 {
    width: 42px !important
}

.pl12 {
    padding-left: 12px !important
}

.pl42 {
    padding-left: 42px !important
}

.pr6 {
    padding-right: 6px !important
}

.pr12 {
    padding-right: 12px !important
}

.pr42 {
    padding-right: 42px !important
}

.px42 {
    padding-left: 42px !important;
    padding-right: 42px !important
}

.pb6 {
    padding-bottom: 6px !important
}

.mr30 {
    margin-right: 30px !important
}

.h24 {
    height: 24px !important
}

.hmin36 {
    min-height: 36px !important
}

.hmin42 {
    min-height: 42px !important
}

.hmin48 {
    min-height: 48px !important
}

.wmin42 {
    min-width: 42px !important
}

.hmax42 {
    max-height: 42px !important
}

.cursor-pointer {
    cursor: pointer !important
}

.border--transparent {
    border-color: transparent !important;
    border: none

}

.wmax42 {
    max-width: 42px !important
}

.m6 {
    margin: 6px !important
}

.m12 {
    margin: 12px !important
}

.p6 {
    padding: 6px !important
}

.pr12 {
    padding-right: 12px !important
}

.round-full {
    border-radius: 9999px !important
}

.py6 {
    padding-top: 6px !important;
    padding-bottom: 6px !important
}

.flex-parent--space-between-main {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important
}

.mt6 {
    margin-top: 6px !important
}

.mt48 {
    margin-top: 48px !important
}

.flex-parent--center-main {
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.input--border-darken10,
.input--border-darken5:focus,
.textarea--border-darken10,
.textarea--border-darken5:focus {
    border-color: rgba(0, 0, 0, .1)
}

.input--border-darken10:focus,
.input--border-darken25,
.textarea--border-darken10:focus,
.textarea--border-darken25 {
    border-color: rgba(0, 0, 0, .25)
}

.loading--s:after {
    height: 18px !important;
    width: 18px !important
}

.txt-s {
    font-size: 12px;
    line-height: 18px
}

.align-middle {
    vertical-align: middle !important
}

.shadow-darken25-on-active.is-active,
.shadow-darken25-on-active.is-active:hover,
.shadow-darken25-on-hover:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .25) !important
}

.border--transparent-on-active.is-active,.border--transparent-on-active.is-active:hover,.border--transparent-on-hover:hover {
    border-color: transparent !important;
    border-width: 0
}

@media screen and (min-width:640px) {
    .w240-mm {
        width: 240px !important
    }

    .w420-mm {
        width: 420px !important
    }

    .h36-mm {
        height: 36px !important
    }

    .hmin48-mm {
        min-height: 48px !important
    }

    .hmax42-mm {
        max-height: 42px !important
    }

    .hmax48-mm {
        max-height: 48px !important
    }

    .wmax48-mm {
        max-width: 48px !important
    }

    .m12-mm {
        margin: 12px !important
    }

}

@media screen and (min-width:640px) {
    .grid-mm {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .col--1-mm {
        width: 8.3333% !important
    }

    .col--2-mm {
        width: 16.6666% !important
    }

    .col--3-mm {
        width: 25% !important
    }

    .col--4-mm {
        width: 33.3333% !important
    }

    .col--5-mm {
        width: 41.6666% !important
    }

    .col--6-mm {
        width: 50% !important
    }

    .col--7-mm {
        width: 58.3333% !important
    }

    .col--8-mm {
        width: 66.6666% !important
    }

    .col--9-mm {
        width: 75% !important
    }

    .col--10-mm {
        width: 83.3333% !important
    }

    .col--11-mm {
        width: 91.6666% !important
    }

    .col--12-mm {
        width: 100% !important
    }

    .col--offl1-mm {
        margin-left: 8.3333% !important
    }

    .col--offl2-mm {
        margin-left: 16.6666% !important
    }

    .col--offl3-mm {
        margin-left: 25% !important
    }

    .col--offl4-mm {
        margin-left: 33.3333% !important
    }

    .col--offl5-mm {
        margin-left: 41.6666% !important
    }

    .col--offl6-mm {
        margin-left: 50% !important
    }

    .col--offl7-mm {
        margin-left: 58.3333% !important
    }

    .col--offl8-mm {
        margin-left: 66.6666% !important
    }

    .col--offl9-mm {
        margin-left: 75% !important
    }

    .col--offl10-mm {
        margin-left: 83.3333% !important
    }

    .col--offl11-mm {
        margin-left: 91.6666% !important
    }

    .col--offl12-mm {
        margin-left: 100% !important
    }

    .col--offr1-mm {
        margin-right: 8.3333% !important
    }

    .col--offr2-mm {
        margin-right: 16.6666% !important
    }

    .col--offr3-mm {
        margin-right: 25% !important
    }

    .col--offr4-mm {
        margin-right: 33.3333% !important
    }

    .col--offr5-mm {
        margin-right: 41.6666% !important
    }

    .col--offr6-mm {
        margin-right: 50% !important
    }

    .col--offr7-mm {
        margin-right: 58.3333% !important
    }

    .col--offr8-mm {
        margin-right: 66.6666% !important
    }

    .col--offr9-mm {
        margin-right: 75% !important
    }

    .col--offr10-mm {
        margin-right: 83.3333% !important
    }

    .col--offr11-mm {
        margin-right: 91.6666% !important
    }

    .col--offr12-mm {
        margin-right: 100% !important
    }

    .inline-mm {
        display: inline !important
    }

    .block-mm {
        display: block !important
    }

    .inline-block-mm {
        display: inline-block !important
    }

    .none-mm {
        display: none !important
    }

    .fixed-mm {
        position: fixed !important
    }

    .absolute-mm {
        position: absolute !important
    }

    .relative-mm {
        position: relative !important
    }

    .static-mm {
        position: static !important
    }

    .top-mm {
        top: 0 !important
    }

    .right-mm {
        right: 0 !important
    }

    .left-mm {
        left: 0 !important
    }

    .bottom-mm {
        bottom: 0 !important
    }

    .z-neg1-mm {
        z-index: -1 !important
    }

    .z0-mm {
        z-index: 0 !important
    }

    .z1-mm {
        z-index: 1 !important
    }

    .z2-mm {
        z-index: 2 !important
    }

    .z3-mm {
        z-index: 3 !important
    }

    .z4-mm {
        z-index: 4 !important
    }

    .z5-mm {
        z-index: 5 !important
    }

    .mx-auto-mm {
        margin-left: auto !important;
        margin-right: auto !important
    }

    .viewport-third-mm {
        height: 33.3333vh !important
    }

    .viewport-half-mm {
        height: 50vh !important
    }

    .viewport-twothirds-mm {
        height: 66.6666vh !important
    }

    .viewport-almost-mm {
        height: 90vh !important
    }

    .viewport-full-mm {
        height: 100vh !important
    }

    .flex-parent-mm {
        display: -ms-flexbox !important;
        display: flex !important
    }

    .flex-parent-inline-mm {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }

    .flex-parent--column-mm {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }

    .flex-parent--column-reverse-mm {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important
    }

    .flex-parent--row-mm {
        -ms-flex-direction: row !important;
        flex-direction: row !important
    }

    .flex-parent--row-reverse-mm {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important
    }

    .flex-parent--wrap-mm {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .flex-parent--end-cross-mm {
        -ms-flex-align: end !important;
        align-items: flex-end !important
    }

    .flex-parent--end-main-mm {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important
    }

    .flex-parent--center-main-mm {
        -ms-flex-pack: center !important;
        justify-content: center !important
    }

    .flex-parent--center-cross-mm {
        -ms-flex-align: center !important;
        align-items: center !important
    }

    .flex-parent--stretch-cross-mm {
        -ms-flex-align: stretch !important;
        align-items: stretch !important
    }

    .flex-parent--space-between-main-mm {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }

    .flex-child-mm {
        display: block;
        max-width: 100%
    }

    .flex-child--grow-mm {
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
        min-width: 0
    }

    .flex-child--no-shrink-mm {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important
    }

    .bleed-mm {
        margin-left: calc(50% - 50vw)
    }

    .bleed-mm,
    .bleed-r-mm {
        margin-right: calc(50% - 50vw)
    }

    .bleed-l-mm,
    .bleed-r-mm {
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .bleed-l-mm {
        margin-left: calc(50% - 50vw)
    }

    .unbleed-mm {
        -ms-flex-positive: 0;
        flex-grow: 0;
        margin-left: 0;
        margin-right: 0
    }

    .fl-mm {
        float: left !important
    }

    .fr-mm {
        float: right !important
    }

    .unfloat-mm {
        float: none !important
    }

    .border-mm {
        border: 1px solid !important
    }

    .border-t-mm {
        border-top: 1px solid !important
    }

    .border-r-mm {
        border-right: 1px solid !important
    }

    .border-b-mm {
        border-bottom: 1px solid !important
    }

    .border-l-mm {
        border-left: 1px solid !important
    }

    .border--0-mm {
        border-width: 0 !important
    }

    .border-t--0-mm {
        border-top-width: 0 !important
    }

    .border-r--0-mm {
        border-right-width: 0 !important
    }

    .border-b--0-mm {
        border-bottom-width: 0 !important
    }

    .border-l--0-mm {
        border-left-width: 0 !important
    }

    .round-mm {
        border-radius: 4px !important
    }

    .round-t-mm {
        border-radius: 4px 4px 0 0 !important
    }

    .round-r-mm {
        border-radius: 0 4px 4px 0 !important
    }

    .round-b-mm {
        border-radius: 0 0 4px 4px !important
    }

    .round-l-mm {
        border-radius: 4px 0 0 4px !important
    }

    .round-tl-mm {
        border-top-left-radius: 4px !important
    }

    .round-tr-mm {
        border-top-right-radius: 4px !important
    }

    .round-br-mm {
        border-bottom-right-radius: 4px !important
    }

    .round-bl-mm {
        border-bottom-left-radius: 4px !important
    }

    .round-bold-mm {
        border-radius: 8px !important
    }

    .round-t-bold-mm {
        border-radius: 8px 8px 0 0 !important
    }

    .round-r-bold-mm {
        border-radius: 0 8px 8px 0 !important
    }

    .round-b-bold-mm {
        border-radius: 0 0 8px 8px !important
    }

    .round-l-bold-mm {
        border-radius: 8px 0 0 8px !important
    }

    .round-tl-bold-mm {
        border-top-left-radius: 8px !important
    }

    .round-tr-bold-mm {
        border-top-right-radius: 8px !important
    }

    .round-br-bold-mm {
        border-bottom-right-radius: 8px !important
    }

    .round-bl-bold-mm {
        border-bottom-left-radius: 8px !important
    }

    .round-full-mm {
        border-radius: 9999px !important
    }

    .round-t-full-mm {
        border-radius: 9999px 9999px 0 0 !important
    }

    .round-r-full-mm {
        border-radius: 0 9999px 9999px 0 !important
    }

    .round-b-full-mm {
        border-radius: 0 0 9999px 9999px !important
    }

    .round-l-full-mm {
        border-radius: 9999px 0 0 9999px !important
    }

    .round-tl-full-mm {
        border-top-left-radius: 9999px !important
    }

    .round-tr-full-mm {
        border-top-right-radius: 9999px !important
    }

    .round-br-full-mm {
        border-bottom-right-radius: 9999px !important
    }

    .round-bl-full-mm {
        border-bottom-left-radius: 9999px !important
    }

    .unround-mm {
        border-radius: 0 !important
    }

    .unround-t-mm {
        border-top-left-radius: 0 !important
    }

    .unround-r-mm,
    .unround-t-mm {
        border-top-right-radius: 0 !important
    }

    .unround-b-mm,
    .unround-r-mm {
        border-bottom-right-radius: 0 !important
    }

    .unround-b-mm,
    .unround-l-mm {
        border-bottom-left-radius: 0 !important
    }

    .unround-l-mm,
    .unround-tl-mm {
        border-top-left-radius: 0 !important
    }

    .unround-tr-mm {
        border-top-right-radius: 0 !important
    }

    .unround-br-mm {
        border-bottom-right-radius: 0 !important
    }

    .unround-bl-mm {
        border-bottom-left-radius: 0 !important
    }

    .txt-h1-mm {
        font-size: 45px;
        line-height: 54px
    }

    .txt-h2-mm {
        font-size: 35px;
        line-height: 42px
    }

    .txt-h3-mm {
        font-size: 30px;
        line-height: 36px
    }

    .txt-h4-mm {
        font-size: 18px;
        line-height: 24px
    }

    .txt-h5-mm {
        font-size: 15px;
        line-height: 18px
    }

    .txt-xl-mm {
        font-size: 30px;
        line-height: 45px
    }

    .txt-l-mm {
        font-size: 18px;
        line-height: 30px
    }

    .txt-m-mm {
        font-size: 15px;
        line-height: 24px
    }

    .txt-s-mm {
        font-size: 12px;
        line-height: 18px
    }

    .txt-xs-mm {
        font-size: 10px;
        line-height: 15px
    }
}

@media screen and (min-width:800px) {
    .grid-ml {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .col--1-ml {
        width: 8.3333% !important
    }

    .col--2-ml {
        width: 16.6666% !important
    }

    .col--3-ml {
        width: 25% !important
    }

    .col--4-ml {
        width: 33.3333% !important
    }

    .col--5-ml {
        width: 41.6666% !important
    }

    .col--6-ml {
        width: 50% !important
    }

    .col--7-ml {
        width: 58.3333% !important
    }

    .col--8-ml {
        width: 66.6666% !important
    }

    .col--9-ml {
        width: 75% !important
    }

    .col--10-ml {
        width: 83.3333% !important
    }

    .col--11-ml {
        width: 91.6666% !important
    }

    .col--12-ml {
        width: 100% !important
    }

    .col--offl1-ml {
        margin-left: 8.3333% !important
    }

    .col--offl2-ml {
        margin-left: 16.6666% !important
    }

    .col--offl3-ml {
        margin-left: 25% !important
    }

    .col--offl4-ml {
        margin-left: 33.3333% !important
    }

    .col--offl5-ml {
        margin-left: 41.6666% !important
    }

    .col--offl6-ml {
        margin-left: 50% !important
    }

    .col--offl7-ml {
        margin-left: 58.3333% !important
    }

    .col--offl8-ml {
        margin-left: 66.6666% !important
    }

    .col--offl9-ml {
        margin-left: 75% !important
    }

    .col--offl10-ml {
        margin-left: 83.3333% !important
    }

    .col--offl11-ml {
        margin-left: 91.6666% !important
    }

    .col--offl12-ml {
        margin-left: 100% !important
    }

    .col--offr1-ml {
        margin-right: 8.3333% !important
    }

    .col--offr2-ml {
        margin-right: 16.6666% !important
    }

    .col--offr3-ml {
        margin-right: 25% !important
    }

    .col--offr4-ml {
        margin-right: 33.3333% !important
    }

    .col--offr5-ml {
        margin-right: 41.6666% !important
    }

    .col--offr6-ml {
        margin-right: 50% !important
    }

    .col--offr7-ml {
        margin-right: 58.3333% !important
    }

    .col--offr8-ml {
        margin-right: 66.6666% !important
    }

    .col--offr9-ml {
        margin-right: 75% !important
    }

    .col--offr10-ml {
        margin-right: 83.3333% !important
    }

    .col--offr11-ml {
        margin-right: 91.6666% !important
    }

    .col--offr12-ml {
        margin-right: 100% !important
    }

    .inline-ml {
        display: inline !important
    }

    .block-ml {
        display: block !important
    }

    .inline-block-ml {
        display: inline-block !important
    }

    .none-ml {
        display: none !important
    }

    .fixed-ml {
        position: fixed !important
    }

    .absolute-ml {
        position: absolute !important
    }

    .relative-ml {
        position: relative !important
    }

    .static-ml {
        position: static !important
    }

    .top-ml {
        top: 0 !important
    }

    .right-ml {
        right: 0 !important
    }

    .left-ml {
        left: 0 !important
    }

    .bottom-ml {
        bottom: 0 !important
    }

    .z-neg1-ml {
        z-index: -1 !important
    }

    .z0-ml {
        z-index: 0 !important
    }

    .z1-ml {
        z-index: 1 !important
    }

    .z2-ml {
        z-index: 2 !important
    }

    .z3-ml {
        z-index: 3 !important
    }

    .z4-ml {
        z-index: 4 !important
    }

    .z5-ml {
        z-index: 5 !important
    }

    .mx-auto-ml {
        margin-left: auto !important;
        margin-right: auto !important
    }

    .viewport-third-ml {
        height: 33.3333vh !important
    }

    .viewport-half-ml {
        height: 50vh !important
    }

    .viewport-twothirds-ml {
        height: 66.6666vh !important
    }

    .viewport-almost-ml {
        height: 90vh !important
    }

    .viewport-full-ml {
        height: 100vh !important
    }

    .flex-parent-ml {
        display: -ms-flexbox !important;
        display: flex !important
    }

    .flex-parent-inline-ml {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }

    .flex-parent--column-ml {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }

    .flex-parent--column-reverse-ml {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important
    }

    .flex-parent--row-ml {
        -ms-flex-direction: row !important;
        flex-direction: row !important
    }

    .flex-parent--row-reverse-ml {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important
    }

    .flex-parent--wrap-ml {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .flex-parent--end-cross-ml {
        -ms-flex-align: end !important;
        align-items: flex-end !important
    }

    .flex-parent--end-main-ml {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important
    }

    .flex-parent--center-main-ml {
        -ms-flex-pack: center !important;
        justify-content: center !important
    }

    .flex-parent--center-cross-ml {
        -ms-flex-align: center !important;
        align-items: center !important
    }

    .flex-parent--stretch-cross-ml {
        -ms-flex-align: stretch !important;
        align-items: stretch !important
    }

    .flex-parent--space-between-main-ml {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }

    .flex-child-ml {
        display: block;
        max-width: 100%
    }

    .flex-child--grow-ml {
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
        min-width: 0
    }

    .flex-child--no-shrink-ml {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important
    }

    .bleed-ml {
        margin-left: calc(50% - 50vw)
    }

    .bleed-ml,
    .bleed-r-ml {
        margin-right: calc(50% - 50vw)
    }

    .bleed-l-ml,
    .bleed-r-ml {
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .bleed-l-ml {
        margin-left: calc(50% - 50vw)
    }

    .unbleed-ml {
        -ms-flex-positive: 0;
        flex-grow: 0;
        margin-left: 0;
        margin-right: 0
    }

    .fl-ml {
        float: left !important
    }

    .fr-ml {
        float: right !important
    }

    .unfloat-ml {
        float: none !important
    }

    .border-ml {
        border: 1px solid !important
    }

    .border-t-ml {
        border-top: 1px solid !important
    }

    .border-r-ml {
        border-right: 1px solid !important
    }

    .border-b-ml {
        border-bottom: 1px solid !important
    }

    .border-l-ml {
        border-left: 1px solid !important
    }

    .border--0-ml {
        border-width: 0 !important
    }

    .border-t--0-ml {
        border-top-width: 0 !important
    }

    .border-r--0-ml {
        border-right-width: 0 !important
    }

    .border-b--0-ml {
        border-bottom-width: 0 !important
    }

    .border-l--0-ml {
        border-left-width: 0 !important
    }

    .round-ml {
        border-radius: 4px !important
    }

    .round-t-ml {
        border-radius: 4px 4px 0 0 !important
    }

    .round-r-ml {
        border-radius: 0 4px 4px 0 !important
    }

    .round-b-ml {
        border-radius: 0 0 4px 4px !important
    }

    .round-l-ml {
        border-radius: 4px 0 0 4px !important
    }

    .round-tl-ml {
        border-top-left-radius: 4px !important
    }

    .round-tr-ml {
        border-top-right-radius: 4px !important
    }

    .round-br-ml {
        border-bottom-right-radius: 4px !important
    }

    .round-bl-ml {
        border-bottom-left-radius: 4px !important
    }

    .round-bold-ml {
        border-radius: 8px !important
    }

    .round-t-bold-ml {
        border-radius: 8px 8px 0 0 !important
    }

    .round-r-bold-ml {
        border-radius: 0 8px 8px 0 !important
    }

    .round-b-bold-ml {
        border-radius: 0 0 8px 8px !important
    }

    .round-l-bold-ml {
        border-radius: 8px 0 0 8px !important
    }

    .round-tl-bold-ml {
        border-top-left-radius: 8px !important
    }

    .round-tr-bold-ml {
        border-top-right-radius: 8px !important
    }

    .round-br-bold-ml {
        border-bottom-right-radius: 8px !important
    }

    .round-bl-bold-ml {
        border-bottom-left-radius: 8px !important
    }

    .round-full-ml {
        border-radius: 9999px !important
    }

    .round-t-full-ml {
        border-radius: 9999px 9999px 0 0 !important
    }

    .round-r-full-ml {
        border-radius: 0 9999px 9999px 0 !important
    }

    .round-b-full-ml {
        border-radius: 0 0 9999px 9999px !important
    }

    .round-l-full-ml {
        border-radius: 9999px 0 0 9999px !important
    }

    .round-tl-full-ml {
        border-top-left-radius: 9999px !important
    }

    .round-tr-full-ml {
        border-top-right-radius: 9999px !important
    }

    .round-br-full-ml {
        border-bottom-right-radius: 9999px !important
    }

    .round-bl-full-ml {
        border-bottom-left-radius: 9999px !important
    }

    .unround-ml {
        border-radius: 0 !important
    }

    .unround-t-ml {
        border-top-left-radius: 0 !important
    }

    .unround-r-ml,
    .unround-t-ml {
        border-top-right-radius: 0 !important
    }

    .unround-b-ml,
    .unround-r-ml {
        border-bottom-right-radius: 0 !important
    }

    .unround-b-ml,
    .unround-l-ml {
        border-bottom-left-radius: 0 !important
    }

    .unround-l-ml,
    .unround-tl-ml {
        border-top-left-radius: 0 !important
    }

    .unround-tr-ml {
        border-top-right-radius: 0 !important
    }

    .unround-br-ml {
        border-bottom-right-radius: 0 !important
    }

    .unround-bl-ml {
        border-bottom-left-radius: 0 !important
    }

    .txt-h1-ml {
        font-size: 45px;
        line-height: 54px
    }

    .txt-h2-ml {
        font-size: 35px;
        line-height: 42px
    }

    .txt-h3-ml {
        font-size: 30px;
        line-height: 36px
    }

    .txt-h4-ml {
        font-size: 18px;
        line-height: 24px
    }

    .txt-h5-ml {
        font-size: 15px;
        line-height: 18px
    }

    .txt-xl-ml {
        font-size: 30px;
        line-height: 45px
    }

    .txt-l-ml {
        font-size: 18px;
        line-height: 30px
    }

    .txt-m-ml {
        font-size: 15px;
        line-height: 24px
    }

    .txt-s-ml {
        font-size: 12px;
        line-height: 18px
    }

    .txt-xs-ml {
        font-size: 10px;
        line-height: 15px
    }
}

@media screen and (min-width:1200px) {
    .grid-mxl {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .col--1-mxl {
        width: 8.3333% !important
    }

    .col--2-mxl {
        width: 16.6666% !important
    }

    .col--3-mxl {
        width: 25% !important
    }

    .col--4-mxl {
        width: 33.3333% !important
    }

    .col--5-mxl {
        width: 41.6666% !important
    }

    .col--6-mxl {
        width: 50% !important
    }

    .col--7-mxl {
        width: 58.3333% !important
    }

    .col--8-mxl {
        width: 66.6666% !important
    }

    .col--9-mxl {
        width: 75% !important
    }

    .col--10-mxl {
        width: 83.3333% !important
    }

    .col--11-mxl {
        width: 91.6666% !important
    }

    .col--12-mxl {
        width: 100% !important
    }

    .col--offl1-mxl {
        margin-left: 8.3333% !important
    }

    .col--offl2-mxl {
        margin-left: 16.6666% !important
    }

    .col--offl3-mxl {
        margin-left: 25% !important
    }

    .col--offl4-mxl {
        margin-left: 33.3333% !important
    }

    .col--offl5-mxl {
        margin-left: 41.6666% !important
    }

    .col--offl6-mxl {
        margin-left: 50% !important
    }

    .col--offl7-mxl {
        margin-left: 58.3333% !important
    }

    .col--offl8-mxl {
        margin-left: 66.6666% !important
    }

    .col--offl9-mxl {
        margin-left: 75% !important
    }

    .col--offl10-mxl {
        margin-left: 83.3333% !important
    }

    .col--offl11-mxl {
        margin-left: 91.6666% !important
    }

    .col--offl12-mxl {
        margin-left: 100% !important
    }

    .col--offr1-mxl {
        margin-right: 8.3333% !important
    }

    .col--offr2-mxl {
        margin-right: 16.6666% !important
    }

    .col--offr3-mxl {
        margin-right: 25% !important
    }

    .col--offr4-mxl {
        margin-right: 33.3333% !important
    }

    .col--offr5-mxl {
        margin-right: 41.6666% !important
    }

    .col--offr6-mxl {
        margin-right: 50% !important
    }

    .col--offr7-mxl {
        margin-right: 58.3333% !important
    }

    .col--offr8-mxl {
        margin-right: 66.6666% !important
    }

    .col--offr9-mxl {
        margin-right: 75% !important
    }

    .col--offr10-mxl {
        margin-right: 83.3333% !important
    }

    .col--offr11-mxl {
        margin-right: 91.6666% !important
    }

    .col--offr12-mxl {
        margin-right: 100% !important
    }

    .inline-mxl {
        display: inline !important
    }

    .block-mxl {
        display: block !important
    }

    .inline-block-mxl {
        display: inline-block !important
    }

    .none-mxl {
        display: none !important
    }

    .fixed-mxl {
        position: fixed !important
    }

    .absolute-mxl {
        position: absolute !important
    }

    .relative-mxl {
        position: relative !important
    }

    .static-mxl {
        position: static !important
    }

    .top-mxl {
        top: 0 !important
    }

    .right-mxl {
        right: 0 !important
    }

    .left-mxl {
        left: 0 !important
    }

    .bottom-mxl {
        bottom: 0 !important
    }

    .z-neg1-mxl {
        z-index: -1 !important
    }

    .z0-mxl {
        z-index: 0 !important
    }

    .z1-mxl {
        z-index: 1 !important
    }

    .z2-mxl {
        z-index: 2 !important
    }

    .z3-mxl {
        z-index: 3 !important
    }

    .z4-mxl {
        z-index: 4 !important
    }

    .z5-mxl {
        z-index: 5 !important
    }

    .mx-auto-mxl {
        margin-left: auto !important;
        margin-right: auto !important
    }

    .viewport-third-mxl {
        height: 33.3333vh !important
    }

    .viewport-half-mxl {
        height: 50vh !important
    }

    .viewport-twothirds-mxl {
        height: 66.6666vh !important
    }

    .viewport-almost-mxl {
        height: 90vh !important
    }

    .viewport-full-mxl {
        height: 100vh !important
    }

    .flex-parent-mxl {
        display: -ms-flexbox !important;
        display: flex !important
    }

    .flex-parent-inline-mxl {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important
    }

    .flex-parent--column-mxl {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }

    .flex-parent--column-reverse-mxl {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important
    }

    .flex-parent--row-mxl {
        -ms-flex-direction: row !important;
        flex-direction: row !important
    }

    .flex-parent--row-reverse-mxl {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important
    }

    .flex-parent--wrap-mxl {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .flex-parent--end-cross-mxl {
        -ms-flex-align: end !important;
        align-items: flex-end !important
    }

    .flex-parent--end-main-mxl {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important
    }

    .flex-parent--center-main-mxl {
        -ms-flex-pack: center !important;
        justify-content: center !important
    }

    .flex-parent--center-cross-mxl {
        -ms-flex-align: center !important;
        align-items: center !important
    }

    .flex-parent--stretch-cross-mxl {
        -ms-flex-align: stretch !important;
        align-items: stretch !important
    }

    .flex-parent--space-between-main-mxl {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }

    .flex-child-mxl {
        display: block;
        max-width: 100%
    }

    .flex-child--grow-mxl {
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
        min-width: 0
    }

    .flex-child--no-shrink-mxl {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important
    }

    .bleed-mxl {
        margin-left: calc(50% - 50vw)
    }

    .bleed-mxl,
    .bleed-r-mxl {
        margin-right: calc(50% - 50vw)
    }

    .bleed-l-mxl,
    .bleed-r-mxl {
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .bleed-l-mxl {
        margin-left: calc(50% - 50vw)
    }

    .unbleed-mxl {
        -ms-flex-positive: 0;
        flex-grow: 0;
        margin-left: 0;
        margin-right: 0
    }

    .fl-mxl {
        float: left !important
    }

    .fr-mxl {
        float: right !important
    }

    .unfloat-mxl {
        float: none !important
    }

    .border-mxl {
        border: 1px solid !important
    }

    .border-t-mxl {
        border-top: 1px solid !important
    }

    .border-r-mxl {
        border-right: 1px solid !important
    }

    .border-b-mxl {
        border-bottom: 1px solid !important
    }

    .border-l-mxl {
        border-left: 1px solid !important
    }

    .border--0-mxl {
        border-width: 0 !important
    }

    .border-t--0-mxl {
        border-top-width: 0 !important
    }

    .border-r--0-mxl {
        border-right-width: 0 !important
    }

    .border-b--0-mxl {
        border-bottom-width: 0 !important
    }

    .border-l--0-mxl {
        border-left-width: 0 !important
    }

    .round-mxl {
        border-radius: 4px !important
    }

    .round-t-mxl {
        border-radius: 4px 4px 0 0 !important
    }

    .round-r-mxl {
        border-radius: 0 4px 4px 0 !important
    }

    .round-b-mxl {
        border-radius: 0 0 4px 4px !important
    }

    .round-l-mxl {
        border-radius: 4px 0 0 4px !important
    }

    .round-tl-mxl {
        border-top-left-radius: 4px !important
    }

    .round-tr-mxl {
        border-top-right-radius: 4px !important
    }

    .round-br-mxl {
        border-bottom-right-radius: 4px !important
    }

    .round-bl-mxl {
        border-bottom-left-radius: 4px !important
    }

    .round-bold-mxl {
        border-radius: 8px !important
    }

    .round-t-bold-mxl {
        border-radius: 8px 8px 0 0 !important
    }

    .round-r-bold-mxl {
        border-radius: 0 8px 8px 0 !important
    }

    .round-b-bold-mxl {
        border-radius: 0 0 8px 8px !important
    }

    .round-l-bold-mxl {
        border-radius: 8px 0 0 8px !important
    }

    .round-tl-bold-mxl {
        border-top-left-radius: 8px !important
    }

    .round-tr-bold-mxl {
        border-top-right-radius: 8px !important
    }

    .round-br-bold-mxl {
        border-bottom-right-radius: 8px !important
    }

    .round-bl-bold-mxl {
        border-bottom-left-radius: 8px !important
    }

    .round-full-mxl {
        border-radius: 9999px !important
    }

    .round-t-full-mxl {
        border-radius: 9999px 9999px 0 0 !important
    }

    .round-r-full-mxl {
        border-radius: 0 9999px 9999px 0 !important
    }

    .round-b-full-mxl {
        border-radius: 0 0 9999px 9999px !important
    }

    .round-l-full-mxl {
        border-radius: 9999px 0 0 9999px !important
    }

    .round-tl-full-mxl {
        border-top-left-radius: 9999px !important
    }

    .round-tr-full-mxl {
        border-top-right-radius: 9999px !important
    }

    .round-br-full-mxl {
        border-bottom-right-radius: 9999px !important
    }

    .round-bl-full-mxl {
        border-bottom-left-radius: 9999px !important
    }

    .unround-mxl {
        border-radius: 0 !important
    }

    .unround-t-mxl {
        border-top-left-radius: 0 !important
    }

    .unround-r-mxl,
    .unround-t-mxl {
        border-top-right-radius: 0 !important
    }

    .unround-b-mxl,
    .unround-r-mxl {
        border-bottom-right-radius: 0 !important
    }

    .unround-b-mxl,
    .unround-l-mxl {
        border-bottom-left-radius: 0 !important
    }

    .unround-l-mxl,
    .unround-tl-mxl {
        border-top-left-radius: 0 !important
    }

    .unround-tr-mxl {
        border-top-right-radius: 0 !important
    }

    .unround-br-mxl {
        border-bottom-right-radius: 0 !important
    }

    .unround-bl-mxl {
        border-bottom-left-radius: 0 !important
    }

    .txt-h1-mxl {
        font-size: 45px;
        line-height: 54px
    }

    .txt-h2-mxl {
        font-size: 35px;
        line-height: 42px
    }

    .txt-h3-mxl {
        font-size: 30px;
        line-height: 36px
    }

    .txt-h4-mxl {
        font-size: 18px;
        line-height: 24px
    }

    .txt-h5-mxl {
        font-size: 15px;
        line-height: 18px
    }

    .txt-xl-mxl {
        font-size: 30px;
        line-height: 45px
    }

    .txt-l-mxl {
        font-size: 18px;
        line-height: 30px
    }

    .txt-m-mxl {
        font-size: 15px;
        line-height: 24px
    }

    .txt-s-mxl {
        font-size: 12px;
        line-height: 18px
    }

    .txt-xs-mxl {
        font-size: 10px;
        line-height: 15px
    }
}