@font-face {
    font-family: "ACaslonPro-Bold";
    /* font-style: normal; */
    font-weight: 700;
    src: local("ACaslonPro-Bold"),
    url(./fonts/Caslon/ACaslonPro-Bold.otf) format("otf")
}

.baseInfo,.baseText {
    padding-left: 3px;
    padding-right: 3px
}

.baseText {
    margin-left: 6px;
    margin-bottom: 6px;
    margin-top: 6px;
    color: #000;
    max-height: 100%;
}

.baseInfo {
    width: 100%
}

.titleText {
    white-space: normal;
    font-family: "ACaslonPro-Bold";
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    margin: 4px 31px 10px 2px
}

.introtext {
    white-space: normal;
    /* max-height: 26vh; */
    overflow-y: auto
}

.abstractPopup {
    margin-bottom: 12px;
    white-space: normal
}

.addressPopup,.datePopup {
    font-size: 14px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Helvetica","Arial","Lucida Grande",sans-serif
}

.addressPopup {
    white-space: normal;
    letter-spacing: -1px;
    color: gray
}

.datePopup {
    color: #68635c;
    text-transform: capitalize;
    padding-bottom: 6px
}

.lastUpdatePopup {
    color: #68635c;
    padding-bottom: 6px;
    padding-right: 6px;
    float: right;
    font-size: smaller;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Helvetica","Arial","Lucida Grande",sans-serif
}

.urlPopup {
    color: #c00;
    margin-bottom: 6px;
    text-decoration: none;
    letter-spacing: -1px
}

.popPupStyle {
    padding: 0
}

.mapboxgl-popupup {
    position: absolute;
    margin-top: 7px;
    width: 100%;
    background-color: #fff;
    max-height: 33vh;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: normal;
    margin-bottom: 10px;
    border-radius: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .25);
    /* box-shadow: 0 0 8px -3px #000; */
    /* transition-duration: 1s */
}

.btn-close {
    position: absolute;
    top: -4px;
    right: -4px;
    cursor: pointer
}

.btn-icon {
    height: 18px;
    width: 18px;
    z-index: 1
}

@media only screen and (max-width:320px) {
    .baseText {
        width: 100%;
        margin-left: 0
    }
}

.picturePoppup {
    width: 100%;
    padding-top: 3px
}

/*Picture copy*/
.hvrbox .hvrbox-layer_slideup {
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px)
}

.hvrbox.active .hvrbox-layer_slideup,.hvrbox:hover .hvrbox-layer_slideup {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.hvrbox,.hvrbox * {
    box-sizing: border-box
}

.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: auto
}

.hvrbox,.hvrbox img {
    width: 100%
}

.hvrbox .hvrbox-layer_bottom {
    display: block
}

.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 26px;
    background: rgba(0,0,0,.6);
    color: #fff;
    padding: 4px;
    -moz-transition: all .4s ease-in-out 0s;
    -webkit-transition: all .4s ease-in-out 0s;
    -ms-transition: all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s
}

.hvrbox.active .hvrbox-layer_top,.hvrbox:hover .hvrbox-layer_top {
    opacity: 1
}

.hvrbox .hvrbox-text a {
    font-size: 12px;
    text-decoration: none;
    color: silver
}

.hvrbox.active .hvrbox-text_mobile {
    display: block
}

.socialMedia {
    display: flex;
    margin: 2px;
    flex-direction: row;
}

/* shareable url buttons */
.socialMediaItem {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
  }

  .socialMedia__share-button {
    cursor: pointer;
  }

  .socialMedia__share-button:hover:not(:active) {
    opacity: 0.75;
  }

  .socialMedia__custom-icon {
    width:32px;
    height:32px;
  }