body {
  margin: 0;
  padding: 0
}

.root {
  touch-action: none
}

#map,#mapCont {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 100%
}
/*
#mapCont {
  top: 64px;
  height: auto
}

@media screen and (max-width:600px) {
  #mapCont {
      top: 60px
  }
}

@media screen and (max-width:480px) and (orientation:landscape) {
  #mapCont {
      top: 48px
  }
} */

/* .directions-input::-webkit-input-placeholder {
  color: rgba(255,255,255,.6)
}

.directions-input::-moz-placeholder {
  color: rgba(255,255,255,.6)
}

.place-info {
  margin-top: 48px!important
}

.cover {
  object-fit: cover
} */